In [13]:
nl = []
for x in range(1500, 2701):
    if (x%7 ==0) and (x%5==0):
        nl.append(str(x))

print(','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [14]:
star =  "Twinkle, twinkle, little star, \n \t How I wonder what you are! \n\t\t Up above the world so high, \n\t\t Like a diamond in the sky. \n Twinkle, twinkle, little star, \n\t How I wonder what you are"
print(star)

Twinkle, twinkle, little star,
 	 How I wonder what you are!
		 Up above the world so high,
		 Like a diamond in the sky.
 Twinkle, twinkle, little star,
	 How I wonder what you are

In [15]:
from platform import python_version
python_version()

'3.10.5'

In [16]:
from datetime import date 
today = date.today()
print("Today's date:", today)

Today's date: 2022-11-18

In [17]:
from math import pi
r = 1.1
Area = 3.8013271108436504
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

In [ ]:
first_name = input("Wr")
last_name = input() 

print(last_name + " " + first_name)

In [ ]:
values = 1,2,3 
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

In [ ]:
from datetime import datetime


exam_st_date = (11, 12, 2014)
print("%x / %x / %x" %exam_st_date)

In [ ]:
color_list = ["Red","Green","White" ,"Black"]

print(color_list[0], ",", color_list[-1])
print( "%s %s"%(color_list[0],color_list[-1]))

In [ ]:
#10
a = int(5)
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a))
n3 = int ("%s%s%s" % (a,a,a))
print(n1 + n2 + n3)

In [ ]:

# declaring a string variable
name = "Geek"
  
# append a string within a string
print("Hey, %s %s!" % (name, name))

In [ ]:
 #11
 print(abs.__doc__)

In [ ]:
#12
import calendar
from sys import modules 

year = 2022
month = 2
print(calendar.month(year, month))

In [ ]:
var = 'here document'
print ("This is a %s multi-line" %(var))

In [ ]:
#14 
from datetime import date

d1 = date(2014,7,2)
d2 = date(2014, 7, 11)
delta = d2 - d1 
print(delta.days)

In [ ]:
1/2 * 2 # + 1

In [ ]:
print("Luana")

In [ ]:
111 % 7

In [ ]:
cash = 19867324678987.99  # DON'T CHANGE THE CASH VARIABLE

# ADD YOUR CODE BELOW:
friends_cash = cash / 5 
friends_cash
print("$", friends_cash)

In [ ]:
i_am_string = "hello world"
i_am_string = 73 
i_am_string = True

In [ ]:
number = 0 #store random number in here, each time through
#i = 0  # i should be incremented by one each iteration
from random import randint 
while number != 5: #keep looping while number is not 5
    #i += 1
    number = randint(1, 10) #update number to be a new random int from 1-10
    print(number)

In [ ]:
sounds = ["super", "cali", "fragil", "istic", "expi", "ali", "docious"]

# Define your code below:

for result in sounds:
    print(result)
    result =+1

In [ ]:
list2 = ["Elie", "Tim", "Matt"]
answer = x[0] for x in list2

SyntaxError: invalid syntax (1343220322.py, line 2)

In [ ]:
nums = 1,2,3 
[x*10 for x in nums]

[10, 20, 30]

In [ ]:
list2 = ["Elie", "Tim", "Matt"]
[x[0] for x in list2]

['E', 'T', 'M']

In [ ]:
numbers = [1,2,3,4,5,6]
evens = [num for num in numbers if num % 2 == 0]
odds = [num for num in numbers if num % 2 != 0]

In [ ]:
evens

[2, 4, 6]

In [ ]:
odds

[1, 3, 5]

In [ ]:
 [num * 2 if num % 2 == 0 else num/2 for num in numbers]

[0.5, 4, 1.5, 8, 2.5, 12]

In [ ]:
lis1 = [1,2,3,4]
lis2 =[3,4,5]
x = lis1 + lis2
x

[1, 2, 3, 4, 3, 4, 5]

In [ ]:

A = [0,1,10,5,8]
B = [7,1,3,11,0]
intersect = list(set(A).intersection(set(B)))
print(intersect)

[0, 1]

In [ ]:
#answer = [x for x in list([1,2,3,4].intersection([3,4,5,6]))]
answer = [x for x in [1,2,3,4] if x in [3,4,5,6]]
answer

[3, 4]

In [ ]:
answer = [x for x in range(1,101) if x % 12 == 0]
answer

[12, 24, 36, 48, 60, 72, 84, 96]

In [ ]:
answer = [x for char in "amazing" if char not in "aeiou"]

In [ ]:
answer = [[i for i in range(0,3)] for num in range(0,3)]
answer

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
nested = [[0,1,2], [3,4,5]]
for x in nested:
    for val in x: 
        print(val)

0
1
2
3
4
5

In [ ]:
[[print(val) for val in x] for x in nested]

0
1
2
3
4
5

[[None, None, None], [None, None, None]]

board = [[num for num in range(1,4)] for val in range(2)]
board

In [ ]:
artist = {
    "first": "Neil",
    "last": "Young",
}

full_name = artist["first"] + " " + ["last"]
full_name

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (1619793138.py, line 6)

In [2]:
instructur = {
    "name" : "Colt", 
    "owns_dog" : True, 
    "num_courses":  4 
}
instructur.values()

dict_values(['Colt', True, 4])

In [3]:
for v in instructur.values():
    print(v)

Colt
True
4

In [4]:
for v in instructur.keys():
    print(v)

name
owns_dog
num_courses

In [14]:
donations = dict(sam=25.0, lena=88.99, chuck=13.0, linus=99.5, stan=150.0, lisa=50.25, harrison=10.0)

total_donations = 0 

for x in donations.values():
    total_donations += x 

total_donations = sum(donations.values())
print(total_donations)

436.74

In [4]:
num = dict(first=1, second=2, third=3)
squared_num = {key: values ** 2 for key, values in num.items()}
print(squared_num)

{'first': 1, 'second': 4, 'third': 9}

In [5]:
atr1 = "ABC"
atr2 = "123"
combo = {str1[i]: str2[i] for i in range(0, len(str1))}
print(combo)

NameError: name 'str1' is not defined

In [11]:
what the hell??? 
list1 = ["CA", "NJ", "RI"]
list2 = ["California", "New Jersey", "Rhode Island"]

answer = {list1:list2 for list1, list2 in }

print(answer)

{'CA': 'California', 'NJ': 'New Jersey', 'RI': 'Rhode Island'}

In [28]:
person = [["name", "Jared"], ["job", "Musician"], ["city", "Bern"]] 

#answer = {x[0]: x[1] for x in person}
answer = {k:v for k,v in person}
answer

{'name': 'Jared', 'job': 'Musician', 'city': 'Bern'}

In [30]:
game_properties = ["current_score", "high_score", "number_of_lives", "items_in_inventory", "power_ups", "ammo", "enemies_on_screen", "enemy_kills", "enemy_kill_streaks", "minutes_played", "notifications", "achievements"]
inicial_game  = dict.fromkeys(game_properties, 0)
inicial_game

{'current_score': 0,
 'high_score': 0,
 'number_of_lives': 0,
 'items_in_inventory': 0,
 'power_ups': 0,
 'ammo': 0,
 'enemies_on_screen': 0,
 'enemy_kills': 0,
 'enemy_kill_streaks': 0,
 'minutes_played': 0,
 'notifications': 0,
 'achievements': 0}

In [36]:
answer = {i:chr(i) for i in range(65,91)}
answer

{65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y',
 90: 'Z'}

In [39]:
stuff = [1,3,1,5,2,5,1,2,5]
unique = set(stuff)
unique

{1, 2, 3, 5}

In [46]:
this_tuple = 1 
isinstance(this_tuple, tuple)
type(this_tuple)

int

In [49]:
values = [10,20,30]
unique = tuple(values)
type(unique)

tuple

In [ ]:
stuff = [1,3,1,5,2,5,1,2,5]

In [1]:
{x**2 for x in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [6]:
def generate_evens():
    result = []
    for x in range(1, 50):
        if x % 2 == 0:
            result.append(x)
    return result


print(generate_evens())

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [1]:
def square(num):
    return num ** num 

print(square(4))

256